*{
  font-family: 'NanumGothic';
}

.logo{
  font-family: 'NanumHaRamCe';
  font-size: 50;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: #E1F5FE;
  color: #343a40;
}

/* header */
header {
  height: 60px;
  background-color: white;
  color: #343a40; 
  /* 네비게이션 바 타이틀 글자 색 */
}

header>.wrap {
  max-width: 720px;
  margin: 0 auto; /* 레이아웃 가운데 정렬 */
  padding: 12px 20px;
}

header>.wrap>.logo {
  font-size: 32px;
  margin-top: 10px;
  font-weight: bold;
}

header>.wrap>ul {
  float: right;
  list-style: none;
  margin-top: 10px;
}

header>.wrap>ul>li {
  float: left;
  margin-left: 15px;
}

header>.wrap>ul>li>a {
  color: #343a40;
  text-decoration: none;
  font-weight: bold;
}

header>.wrap>ul>li>a.active {
  color: #343a40;
  border-bottom: 3px solid #343a40;
}

header .title {
  font-size: 24px;
  font-weight: bold;
}

header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header ul li {
  margin-left: 20px;
}

header ul li a {
  color: #6c757d;
  text-decoration: none;
  font-weight: bold;
}

/* Main content styles */
main {
  display: flex;
  height: calc(100% - 60px); /* Adjusted for header height */
}

main .side-panel {
  width: 300px;
  background-color: #FFFFFF;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

main .side-panel button {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #ffffff;
  color:#343a40;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

main .side-panel button:hover {
  background-color: #dcdcdc;
}

main .message-section {
  flex-grow: 1;
  padding: 20px;
  background-color: #F8F9FA;
  display: flex;
  flex-direction: column;
}

main .mode {
  display:flex;
  flex-direction: row;
}

.message-display {
  flex-grow: 1;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.message-input {
  display: flex;
  align-items: center;
}

.message-input input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.message-input button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #dcdcdc; /* Changed to blue */
  color: white;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #95a0aa;
}

.bot-message .bubble {
  background: #343a40;
  color: white;
  margin-left: auto;
  order: 1;
  width: 40%;
}

.user-message .bubble {
  background: #E0E0E0;
}

.message {
  margin-bottom: 10px;
  display: flex;
}

.bubble {
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}



/* 기능 */
.check-list {
  background-color: #FFFFFF;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.check-mode {
  margin-bottom: 10px;
}

.check-mode input {
  margin-right: 5px;
}

/* 기본스타일을 없애고, 버튼모양을 구현한다. */
input[type='radio'] {
  -webkit-appearance: none; 
  -moz-appearance: none;  
  appearance: none; 
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none; 
  cursor: pointer;
}

/* // 체크될 시에, 변화되는 스타일 설정 */
input[type='radio']:checked {
  background-color: gray; /* 체크 시 내부 원으로 표시될 색상 */
  border: 3px solid white; /* 테두리가 아닌, 테두리와 원 사이의 색상*/
  box-shadow: 0 0 0 1.6px #ccc; /* 얘가 테두리가 됨*/
}

