{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스며듦</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/1200px-ChatGPT_logo.svg.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumHaRamCe.css" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css" rel="stylesheet">
</head>
<body>
    <!-- header.header>nav.wrap>ul>li*3 -->
    <header class="header">
        <nav class="wrap">
            <label class="logo">스며듦</label>
            <ul>
                <li><a href="{% url 'index' %}" class="active">Home</a></li>
                <li><a href="{% url 'chat:index' %}">Chat</a></li>
            </ul>
        </nav>
    </header>
    <!-- main>section.wrap -->
    <main>
        <section class="wrap">

            <a href="{% url 'chat:index' %}" type="button"><img src="https://img1.daumcdn.net/thumb/R1024x0/?fname=https://t1.daumcdn.net/cafeattach/1IHuH/84d66918f75612b229dbca04bc20b5ccfe1364eb" height ="500" width="800" ></a>

        </section>
    </main>
    <!-- footer.footer>p{All rights reserved. @KT Aivle} -->
    <footer class="footer">
        
    </footer>
</body>
</html>